<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<STYLE type="text/css">
   .hl { color: #DD4B39;font-style: normal;font-weight: normal;}
</STYLE>
<title>Search Result</title></head>
<body>
<h1>Search</h1>
<form action="/search" method="GET">
<input type="text" name="user_id" value="$user_id"/>
<input type="text" name="network_id" value="$network_id" />
<input value="$q" title="搜索" size="41" type="text" autocomplete="off" id="lst-ib" name="q" maxlength="2048" dir="ltr" spellcheck="false">
<input value="搜索" name="btnK" type="submit">
</form>
#if($result)
<h3>Spend:$result.time ms,Total:$result.totalDocs,March:$result.totalHits</h3>
  #foreach( $hit in $hits )
    <div>
      <span>Score:$hit.score</span></br>
      <span>content:$hit.highlightContent</span></br>
    </div>
  #end
#end
</body>
</html>